
      body {
          margin: 0;
          font-family: sans-serif;
          background: url(../../podloga2.jpg) no-repeat center center fixed;
          background-size: auto auto;
          background-size: auto auto;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
      
      #content {
          max-width: 1000px;
          margin: auto;
          left: 1%;
          right: 1%;
         
      }
      
      .naslov {
          text-align: center;
          font-size: 2.5rem;
      }
      .kartice{
        display: inline-block;
        padding: 4px;
        margin: 0 0.5rem 1rem 0.5rem;
        background-color: var(--bg-color);
        line-height: 0;
        border-radius: var(--border-radius-large);
      }
      .opis {
          font-size: 1.5rem;
          margin-bottom: 30px;
      }
      
      .opis,
      .centar {
          text-align: center;
          font-size: 20px;
      }
      /* The Close Button */
      
      .grid {
         text-align: center;
      }
      
      .ikone {
        width: 7rem;
          transition: opacity .25s ease-in-out;
          -moz-transition: opacity .25s ease-in-out;
          -webkit-transition: opacity .25s ease-in-out;
          border-radius: 5px;
      }
      
      .ikone2 {
          max-width: 100%;
          height: auto;
          transition: opacity .25s ease-in-out;
          -moz-transition: opacity .25s ease-in-out;
          -webkit-transition: opacity .25s ease-in-out;
          border-radius: 5px;
      }
      
      .ikone:hover {
          opacity: 0.5;
          cursor: pointer
      }
      
      .centar {
          text-align: center
      }
      
      .zastavice {
          padding: 10px;
      }
      
      .fas {
          color: #A39D82;
          text-shadow: 0 0 1.5px black;
      }
      
      #broj-puzzla {
          color: rgb(35, 79, 173);
          text-shadow: 0 0 1px black;
      }

      .swal2-styled{background: -webkit-linear-gradient(#3228B0, #2c1c9a);
        background: linear-gradient(#3228B0, #2c1c9a)}

        .swal2-styled:hover {
            background: -webkit-linear-gradient(#2c1c9a,#3228B0);
            background: linear-gradient(#2c1c9a,#3228B0);
        }
        
      
      .kom_izbornik {
          text-align: left;
          padding-left: 2%;
          display: inline;
      }
.swal2-modal h2{display: none!important}
.swal2-modal h1{font-size: 20px!important;}
.swal2-modal .swal2-content{text-align: justify!important}
body.swal2-shown{overflow-y:auto!important}
.swal2-modal{padding-top: 0!important}
      
      @media only screen and (max-width: 1780px) {
          .kom_izbornik {
              text-align: left;
          }
      }
      
      @media only screen and (max-width: 850px) {
          .kom_izbornik {
              font-size: 14px
          }
          select {
              font-size: 14px!important
          }
      }
      
      @media only screen and (max-width: 600px) {
          #content {display: block;position: initial}
      }
      
      @media only screen and (max-width: 450px) {
          .kom_izbornik {
              font-size: 12px
          }
          select {
              font-size: 12px!important
          }
      }
      
      #glass {
          position: absolute;
          border-radius: 50%;
          box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
          display: none;
          background-repeat: no-repeat;
          background-color: rgba(0, 0, 0, .6);
          z-index: 1000000000000;
      }